<%= @form.fields_for(:announcement_config, announcement_config) do |subform| %>
  <%= subform.group(class: 'mb-3') do %>
    <%= subform.label(:discord_channel_id) %>
    <%= render DiscordChannelSelectComponent.new(
      name:          subform.field_name(:discord_channel_id),
      guild_id:      @form.object.discord_guild_id,
      channel_types: SUPPORTED_CHANNEL_TYPES,
      include_blank: true,
      selected:      subform.object.discord_channel_id,
      readonly:      subform.object.discord_message_id.present?
    ) do |select| %>
      <% select.with_message_on_empty do %>
        <%= alert(variant: 'warning', class: 'mt-2 mb-0') do %>
          Could not find any channels suitable for posting announcements.
          The bot can only post to text or announcement channels.
        <% end %>
      <% end %>
    <% end%>
    <%= subform.field_errors(:discord_channel_id) %>
  <% end %>
  <%= alert(variant: 'info') do %>
    Enables Discord announcements for this event.
    Selecting a channel will allow the bot to automatically post an announcement message when the event open for registration.
    Players in that channel will be able to register for the event by interacting with the message.
  <% end %>
  <% if announcement_config.persisted? %>
    <div class="card border-danger mb-3">
      <div class="card-body">
        <%= subform.check(:_destroy, {}, class: 'text-danger') %>
      </div>
    </div>
  <% end %>
  <%= subform.base_errors %>
<% end %>
