<%= form_with(model: @event, class: 'mb-5') do |form| %> 
  <%= form.group(class: 'mb-3') do %>
    <%= form.label(:name) %>
    <%= form.text_field(:name, maxlength: Event::NAME_MAX_LENGTH, required: @event.published?) %>
    <%= form.field_errors(:name) %>
  <% end %>
  <%= form.group(class: 'mb-3') do %>
    <%= form.label(:location) %>
    <%= form.text_field(:location, maxlength: Event::LOCATION_MAX_LENGTH) %>
    <%= form.field_errors(:location) %>
  <% end %>
  <%= form.group(class: 'mb-3') do %>
    <%= form.label(:description) %>
    <%= form.text_area(:description, maxlength: Event::DESCRIPTION_MAX_LENGTH) %>
    <%= form.field_errors(:description) %>
  <% end %>
  <%= form.group(class: 'mb-3') do %>
    <%= form.label(:time_zone) %>
    <%= form.select(:time_zone, options_from_collection_for_select(TZInfo::Timezone.all, :identifier, :friendly_identifier, @event.time_zone), required: @event.published?) %>
    <%= form.field_errors(:time_zone) %>
  <% end %>
  <div class="row row-cols-md-2">
    <%= form.group(class: 'col mb-3') do %>
      <%= form.label(:starts_at) %>
      <%= form.datetime_local_field(:starts_at, required: @event.published?) %>
      <%= form.field_errors(:starts_at) %>
    <% end %>
    <%= form.group(class: 'col mb-3') do %>
      <%= form.label(:ends_at) %>
      <%= form.datetime_local_field(:ends_at, required: @event.published?) %>
      <%= form.field_errors(:ends_at) %>
    <% end %>
    <%= form.group(class: 'col mb-3') do %>
      <%= form.label(:registration_starts_at) %>
      <%= form.datetime_local_field(:registration_starts_at) %>
      <%= form.field_errors(:registration_starts_at) %>
    <% end %>
    <%= form.group(class: 'col mb-3') do %>
      <%= form.label(:registration_ends_at) %>
      <%= form.datetime_local_field(:registration_ends_at) %>
      <%= form.field_errors(:registration_ends_at) %>
    <% end %>
  </div>
  <%= form.group(class: 'mb-3') do %>
    <%= form.label(:registrations_limit) %>
    <%= form.number_field(:registrations_limit) %>
    <%= form.field_errors(:registrations_limit) %>
  <% end %>
  <%= accordion(always_open: true, class: 'mb-3') do |extensions| %>
    <%= extensions.with_item(expanded: @event.announcement_config&.persisted?) do |item| %>
      <% item.with_header 'Announcement configuration' %>
      <% item.with_body do %>
        <%= render Event::AnnouncementConfigFieldsComponent.new(form:) %>
      <% end %>
    <% end %>
    <% extensions.with_item(expanded: @event.role_config&.persisted?) do |item| %>
      <% item.with_header 'Discord role configuration' %>
      <% item.with_body do %>
        <%= render Event::RoleConfigFieldsComponent.new(form:) %>
      <% end %>
    <% end %>
    <%= extensions.with_item(expanded: @event.payment_config&.persisted?) do |item| %>
      <% item.with_header 'Payment configuration' %>
      <% item.with_body do %>
        <%= render Event::PaymentConfigFieldsComponent.new(form:) %>
      <% end %>
    <% end %>
  <% end %>
  <%= form.base_errors %>
  <%= form.group do %>
    <%= form.submit %>
  <% end %>
<% end %>
