<%= @form.fields_for(:role_config, role_config) do |subform| %>
  <div class="row">
    <%= subform.group(class: 'col mb-3') do %>
      <%= subform.label(:name) %>
      <%= subform.text_field(:name) %>
      <%= subform.field_errors(:name) %>
    <% end %>
    <%= subform.group(class: 'col-auto mb-3') do %>
      <%= subform.label(:colour) %>
      <%= subform.colour_field(:colour, value: subform.object.colour_as_hex) %>
      <%= subform.field_errors(:colour) %>
    <% end %>
  </div>
  <%= alert(variant: 'info', class: 'mb-3') do %>
    <p>
      Enables a managed Discord role for this event.
      The bot will automatically create and manage this role in the server based on the configuration below.
      Players will be added to the role when they register for the event.
    </p>
    <p class="mb-0">
      <strong>NOTE!</strong>
      This feature requires the bot to have the "Manage Roles" permission in the server.
      If changes are made to the role outside of this configuration, they will not be reflected here and may be overwritten by the bot.
    </p>
  <% end %>
  <%= subform.group(class: 'mb-3') do %>
    <%= subform.label(:cleanup_delay) %>
    <%= subform.select(:cleanup_delay, CLEANUP_DELAY_OPTIONS, { include_blank: true, selected: subform.object.cleanup_delay&.iso8601 }) %>
    <%= subform.field_errors(:cleanup_delay) %>
    <%= subform.help_text(:cleanup_delay) do %>
      How long should the bot wait to delete the role after the event ends. Leave blank to keep the role indefinitely.
    <% end %>
  <% end %>
  <%= subform.group(class: 'mb-3') do %>
    <%= subform.switch(:hoist, has_help_text: true) %>
    <%= subform.help_text(:hoist) do %>
      Discord internally refers to this toggle as "hoist".
    <% end %>
  <% end %>
  <%= subform.group(class: 'mb-3') do %>
    <%= subform.switch(:mentionable, has_help_text: true) %>
    <%= subform.help_text(:mentionable) do %>
      When enabled, users will be able to @mention this role in chat.
    <% end %>
  <% end %>
  <%= subform.group(class: 'mb-3') do %>
    <%= subform.label(:permissions) %>
    <%= subform.text_field(:permissions, has_help_text: true) %>
    <%= subform.field_errors(:permissions) %>
    <%= subform.help_text(:permissions) do %>
      <strong class="text-danger">Beware!</strong> Unless you really know what you are doing, you should leave the permissions field well enough alone.
      Here be dragons and other dangerous things. Madness and suffering and pain await those who venture to carelessly put values into here.
      Consider yourself warned.
    <% end %>
  <% end %>
  <% if role_config.persisted? %>
    <div class="card border-danger mb-3">
      <div class="card-body">
        <%= subform.check(:_destroy, {}, class: 'text-danger') %>
      </div>
    </div>
  <% end %>
  <%= subform.base_errors %>
<% end %>
