<div class="row">
  <div class="col">
    <h1><%= @event.name %></h1>
  </div>
  <div class="col-auto mt-auto">
    <div class="btn-toolbar gap-2">
      <% if @event.open_for_registration? && !@event.registered?(current_user) && allowed_to?(:register?, @event) %>
        <% if @event.decklist_permitted? %>
          <%= link_to('Register', event_registration_path(@event), class: 'btn btn-primary') %>
        <% else %>
          <%= button_to('Register', event_registration_path(@event), class: 'btn btn-primary', method: :post) %>
        <% end %>
      <% end %>
      <% if @event.open_for_check_in? && @event.registered?(current_user) && !@event.checked_in?(current_user) && allowed_to?(:check_in?, @event) %>
        <%= button_to('Check In', check_in_for_event_path(@event), class: 'btn btn-primary', method: :post) %>
      <% end %>
      <% if @event.draft? && allowed_to?(:publish?, @event) %>
        <%= button_to('Publish', publish_event_path(@event), class: 'btn btn-primary', method: :post) %>
      <% end %>
      <% if allowed_to?(:edit?, @event) %>
        <%= link_to('Edit', edit_event_path(@event), class: 'btn btn-secondary') %>
      <% end %>
    </div>
  </div>
</div>
<p>
  <%= @event.model_name.human %> created by <%= @event.created_by.name %>
</p>
<ul class="nav nav-tabs mb-3">
  <%= nav_link_to('Details', event_path(@event), check_parameters: true) %>
  <%= nav_link_to('Players', event_path(@event, tab: 'players')) %>
</ul>
<% case params[:tab] %>
<% when 'players' %>
  <%= render Event::PlayersTableComponent.new(event: @event, current_user:) %>
<% else %>
  <%= render Event::DetailsComponent.new(event: @event) %>
<% end %>
